In [12]:
import pandas as pd
import numpy as np

In [67]:
# Read in data
data = pd.read_csv('/content/drive/MyDrive/cs485/uspollution_pollution_us_2000_2016.csv')
data

         Unnamed: 0  State Code  ...  CO 1st Max Hour  CO AQI
0                 0           4  ...               21     NaN
1                 1           4  ...               23    25.0
2                 2           4  ...               21     NaN
3                 3           4  ...               23    25.0
4                 4           4  ...               23     NaN
...             ...         ...  ...              ...     ...
1746656       24599          56  ...                2     1.0
1746657       24600          56  ...                0     NaN
1746658       24601          56  ...                0     1.0
1746659       24602          56  ...                0     NaN
1746660       24603          56  ...                0     1.0

[1746661 rows x 29 columns]

In [68]:
# Date initially string, convert to datetime
data['Date Local'] = pd.to_datetime(data['Date Local'])
# Date convert datetime to year-month, no day
data['Date Local'] = pd.to_datetime(data['Date Local'],format='%m%Y', errors='coerce').dt.to_period('m')

In [69]:
data

         Unnamed: 0  State Code  ...  CO 1st Max Hour  CO AQI
0                 0           4  ...               21     NaN
1                 1           4  ...               23    25.0
2                 2           4  ...               21     NaN
3                 3           4  ...               23    25.0
4                 4           4  ...               23     NaN
...             ...         ...  ...              ...     ...
1746656       24599          56  ...                2     1.0
1746657       24600          56  ...                0     NaN
1746658       24601          56  ...                0     1.0
1746659       24602          56  ...                0     NaN
1746660       24603          56  ...                0     1.0

[1746661 rows x 29 columns]

In [70]:
data.columns

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [87]:
# Drop unnecessary columns
cleaner_data = data.drop(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address', 'County', 'City'], axis=1)
cleaner_data

           State Date Local  ... CO 1st Max Hour  CO AQI
0        Arizona    2000-01  ...              21     NaN
1        Arizona    2000-01  ...              23    25.0
2        Arizona    2000-01  ...              21     NaN
3        Arizona    2000-01  ...              23    25.0
4        Arizona    2000-01  ...              23     NaN
...          ...        ...  ...             ...     ...
1746656  Wyoming    2016-03  ...               2     1.0
1746657  Wyoming    2016-03  ...               0     NaN
1746658  Wyoming    2016-03  ...               0     1.0
1746659  Wyoming    2016-03  ...               0     NaN
1746660  Wyoming    2016-03  ...               0     1.0

[1746661 rows x 22 columns]

In [88]:
# Group states by date, then perform aggregations 
cleaner_sum = cleaner_data.groupby(['Date Local','State']).sum()
cleaner_sum

                                     NO2 Mean  ...   CO AQI
Date Local State                               ...
2000-01    Arizona               18684.533624  ...   5014.0
           California            62102.238616  ...  25674.0
           Colorado               1119.566980  ...   1002.0
           District Of Columbia   2733.203388  ...   1128.0
           Florida                1950.045452  ...    796.0
...                                       ...  ...      ...
2016-04    Texas                  2628.585156  ...    608.0
2016-05    Alabama                1109.505420  ...    230.0
           Iowa                   2962.461208  ...    760.0
           Maine                   506.875632  ...    194.0
           North Carolina          663.664920  ...    170.0

[5086 rows x 16 columns]

In [89]:
cleaner_mean = cleaner_data.groupby(['Date Local','State']).mean()
cleaner_mean

                                  NO2 Mean  ...     CO AQI
Date Local State                            ...
2000-01    Arizona               50.773189  ...  27.250000
           California            22.681607  ...  18.767544
           Colorado               9.028766  ...  16.161290
           District Of Columbia  22.041963  ...  18.193548
           Florida               15.726173  ...  12.838710
...                                    ...  ...        ...
2016-04    Texas                  7.301625  ...   3.377778
2016-05    Alabama                8.947624  ...   3.709677
           Iowa                   5.972704  ...   3.064516
           Maine                  4.087707  ...   3.129032
           North Carolina         5.352136  ...   2.741935

[5086 rows x 16 columns]

In [97]:
# Export to gdrive
cleaner_mean.to_csv('/content/drive/MyDrive/cs485/cleaner_data_mean.csv')
cleaner_sum.to_csv('/content/drive/MyDrive/cs485/cleaner_data_sum.csv')